%h1 New phone
=link_to 'Back to phone index', user_phones_path
=form_for [@user, @phone] do |f|
  =f.hidden_field 'user_id', value: @user.id
  =f.label 'phone_number'
  =f.text_field 'phone_number'
  =f.submit 'Add'