%h1 Show comment
%p
  user_id
  =@comment.user.id
%p
  post_id :
  =@comment.post.id
%p
  id :
  =@comment.id

%p
  body :
  =@comment.body

= link_to 'Back to comment index', user_post_comments_path
%br
= link_to 'Back to post index', user_posts_path